.usageIndicatorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
}

.usageBar {
  width: 100px;
  height: 32px;
  background-color: #eee;
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
}

.usageFill {
  height: 100%;
  background-color: var(--color-azul);
  transition: width 0.3s ease;
}

.capacityUsed {
  width: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.6rem;
  line-height: 1.25rem;
}

@media all and (max-width: 768px) {
  .usageIndicatorContainer > span {
    display: none;
  }
}
