.searchInput,
.searchSuggestions {
  width: 200px;
  border-radius: 6px;
  font-size: 0.9rem;
  line-height: 1.25rem;
  background-color: rgb(299, 299, 299);
  color: rgb(37, 99, 235);
}

.searchInput {
  height: 32px;
  padding: 4px;
  position: relative;
  outline: none;
  cursor: text;

  &:focus-within {
    outline: 2px solid rgb(37, 99, 235);
  }
}

.searchSuggestions {
  max-height: 300px;
  overflow: hidden;
  position: absolute;
  top: 82px;
  overflow-y: scroll;
}

.searchSuggestions::-webkit-scrollbar {
  width: 4px;
}

.searchSuggestions::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}

.searchSuggestions::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

.searchSuggestionsPlaceholder {
  padding: 4px;
}

.suggestionType {
  color: rgb(299, 299, 299);
  background-color: rgb(37, 99, 235);
  padding: 4px;
}

.suggestionItem {
  display: flex;
  align-items: center;
  width: 200px;
  cursor: pointer;
  height: 24px;
  padding: 4px;
}

.suggestionItem a,
.suggestionItem span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
  width: 100%;
}

/* ONLY TEMPORARY STYLES */
@media all and (max-width: 768px) {
  .searchInput {
    width: 100px;
    padding: 2px;
    border-width: 1px;
    font-size: 16px;
  }

  .searchSuggestions {
    width: 100px;
    max-height: 200px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .suggestionItem:hover {
    color: rgb(299, 299, 299);
    background-color: rgb(37, 99, 235);
  }
}
