.listContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-midnight-express);
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s ease;
  overflow: hidden;
}

.infoContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.itemDetails {
  display: flex;
  flex-direction: column;
}

.itemName {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.itemTypeSize {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(156, 163, 175);
}

.actionButtons {
  display: none;
  align-items: center;
  gap: 4px;
}

.renameButton {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  transition: all 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteButton {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  transition: all 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ONLY TEMPORARY STYLES */
@media all and (max-width: 768px) {
  .listContainer {
    padding: 8px;
  }

  .infoContainer {
    min-width: 0;
    gap: 8px;
  }

  .infoContainer svg {
    flex-shrink: 0;
  }

  .itemDetails {
    min-width: 0;
  }

  .itemName {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .deleteButton {
    display: flex;
    flex-shrink: 0;
  }
}

@media (hover: hover) and (pointer: fine) {
  .listContainer:hover {
    background-color: rgb(55, 65, 81);

    .actionButtons {
      display: flex;
    }
  }

  .renameButton:hover {
    background-color: rgb(245, 245, 245);
  }

  .deleteButton:hover {
    background-color: rgb(245, 245, 245);
  }

  .deleteButton:hover svg path,
  .renameButton:hover svg path {
    stroke: black;
  }
}
