.listContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(31, 41, 55);
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover {
    background-color: rgb(55, 65, 81);

    .deleteButton {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.infoContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.itemDetails {
  display: flex;
  flex-direction: column;
}

.itemName {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.itemTypeSize {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(156, 163, 175);
}

.deleteButton {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  display: none;
  transition: all 0.4s ease;

  &:hover {
    background-color: rgb(245, 245, 245);

    :global(svg) {
      fill: rgb(0, 0, 0);
    }
  }
}
