.createFolderForm {
  position: fixed;
  right: 32px;
  bottom: 104px;
  width: 160px;
  display: flex;
  justify-content: center;
}

.openFormButton {
  width: 9rem;
  height: 2.5rem;
  cursor: pointer;
  border-radius: calc(var(--radius) - 2px);
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  display: flex;
  align-items: center;
  justify-content: center;
}

.folderNameInput {
  width: 9rem;
  height: 2.5rem;
  border-radius: calc(var(--radius) - 2px);
  --tw-bg-opacity: 1;
  color: rgb(37 99 235 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  outline: none;
  border: 2px solid rgb(37 99 235 / var(--tw-bg-opacity, 1));
  padding: 4px;
}

.closeFormButton {
  position: absolute;
  top: -12px;
  left: -6px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  display: flex;
  align-items: center;
  justify-content: center;
}

.createFolderButton {
  position: absolute;
  right: -28px;
  top: 4px;
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  width: 32px;
  height: 32px;
  font-size: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fileUploadButton {
  position: fixed;
  right: 32px;
  bottom: 32px;
  width: 160px;
}

@media all and (max-width: 768px) {
  .createFolderForm {
    right: 16px;
    bottom: 76px;
    width: 120px;
  }

  .openFormButton {
    width: 7rem;
    height: 2rem;
    font-size: 0.85rem;
  }

  .folderNameInput {
    width: 7rem;
    height: 2rem;
    font-size: 0.85rem;
    border-width: 1px;
    padding: 2px;
  }

  .closeFormButton {
    top: -10px;
    left: -4px;
    width: 16px;
    height: 16px;
    font-size: 8px;
  }

  .createFolderButton {
    right: -8px;
    width: 24px;
    height: 24px;
    font-size: 24px;
  }

  .fileUploadButton {
    right: 16px;
    bottom: 16px;
    width: 120px;
  }

  .fileUploadButton label {
    width: 7rem;
    height: 2rem;
    font-size: 0.85rem;
  }

  .fileUploadButton div {
    font-size: 0.65rem;
    white-space: nowrap;
  }
}
