.modalContent {
  max-height: 100%;
  max-width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
}

.itemActions button {
  background-color: var(--color-azul);
  color: var(--color-cold-morning);
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemActions button {
  border-radius: var(--border-radius);
  width: 144px;
  height: 40px;
}

.itemInformation {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 32px;
  left: 32px;
  font-size: 16px;
}

.itemInformation span:last-of-type {
  font-size: 10px;
}

.itemActions {
  display: flex;
  gap: 16px;
  position: absolute;
  bottom: 32px;
  right: 32px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media all and (max-width: 768px) {
  .itemActions {
    bottom: 16px;
    right: 16px;
    gap: 8px;
  }

  .itemActions button {
    width: 32px;
    height: 32px;
  }
}
