.modalOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-overlay-black);
  padding: var(--modal-padding);
  height: 100vh;
  animation: fadeIn 0.4s ease-in-out;
}

.modalWrapper {
  height: 100%;
  width: 100%;
  padding: var(--modal-padding);
  border-radius: var(--border-radius);
  background-color: var(--color-midnight-express);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.8s ease-in-out;
}

.modalContent {
  max-height: 100%;
  max-width: 100%;
}

.downloadButton {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 88px;
  height: 32px;
  border-radius: var(--border-radius);
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
