.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
  background-image: linear-gradient(to right bottom, rgb(17, 24, 39), rgb(0, 0, 0));
  color: rgb(209, 213, 219);
  min-height: 100vh;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
}

.headerLeftSide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.headerContainer,
.listContainer {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

/* ONLY TEMPORARY STYLES */
@media all and (max-width: 768px) {
  .pageContainer {
    padding: 16px;
  }

  .listContainer {
    gap: 8px;
  }
}
