.breadcrumbsContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.breadcrumbsContainer :global(a) {
  padding: 8px;
  border-radius: 8px;
  margin-left: 8px;
  white-space: nowrap;
  transition: all 0.4s ease;

  &:hover {
    background-color: rgb(31, 41, 55);
  }
}

.breadcrumbContainer {
  display: flex;
  align-items: center;
}

.breadcrumbContainer :global(svg) {
  width: 16px;
  height: 16px;
}

.breadcrumbDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(55, 65, 81);
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdownItem {
  padding: 4px 8px;
  transition: background-color 0.2s ease;
}

.dropdownItem:hover {
  background-color: rgb(31, 41, 55);
}
